body {
  background: #fff;
  overflow-x: hidden;
  font-family: sans-serif;
  margin: 0;
}

.titlebar {
  font-size: 0.9rem;
  width: 100vw;
  color: #5f5f5f;
}

.titlebar a {
  color: inherit;
}

.titlebar h1 {
  margin: 10px 50px;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bolder;
}

.hero {
  width: 100vw;
  height: auto;
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.hero img {
  width: 100vw;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.hero-text p {
  margin: auto;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: bolder;
}

#main {
  background: #fff;
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 60px;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content a {
  color: #748bf7;
  text-decoration: none;
}

.content a:hover {
  color: #3f5dcf;
}

li {
  line-height: 1.7em;
}

h2 {
  font-weight: lighter;
  font-size: 1.7rem;
}

p {
  color: #6b6b6b;
  line-height: 1.4em;
  font-size: 0.95em;
}

footer {
  margin-top: 50px;
  font-size: 1em;
  padding: 0.5em 1em;
  color: white;
  width: 100vw;
  background-color: rgb(45, 45, 45);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
